<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <recommendation_system>
            <settings_general>
                <name_file_log>recommendation_system.log</name_file_log>
            </settings_general>
        </recommendation_system>
    </default>
</config>